* {
  background-color: #dbe2ef;
  text-align: center;
  font-family: "Inter", sans-serif;
}

h1 {
  color: #112d4e;
  font-size: 5rem;
  margin-top: 3rem;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5.5rem;
  gap: 5.5rem;
}

button {
  cursor: pointer;
  border: px solid #3f72af;
  border-radius: 8px;
  padding: 0.75rem 0.75rem;
  /* border-radius: 0.25rem; */
  /* background-color: #DBE2EF; */
  /* box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3); */
}

button:hover {
  transform: scale(1.1);
  /* background: red; */
}

button:active {
  transform: scale(0.99);
  box-shadow: none;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 5rem;
  margin-left: 25rem;
  gap: 2.5rem;
}

label {
  font-size: 2.5rem;
  color: #112d4e;
  margin-top: 2rem;
}

input {
  font-size: 2rem;
  /* padding: 0.5rem 0.5rem; */
  border-radius: 8px;
  border: 1px solid #3f72af;
  margin-top: 1rem;
}

#rating{
  margin-left: 9.5rem;
}

.form-button {
  margin-top: 1.5rem;
  margin-left: 20rem;
}
